/**
 * Range Slider Specific
 */
/**
 * General Input styling
 *
 * As all ranges in a UI should probably look the same, there
 * is no need to use a class here, and the specific type of
 * input, [range], can instead be the selector to specifically
 * target the form control.
 */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  font-size: inherit;
  width: 100%;
  background-color: transparent;
}

input[type="range"][disabled] {
  opacity: 0.625;
}

/**
 * Track
 */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: theme("colors.bold-gray");
  height: 0.5px;
  width: 100%;
}

input[type="range"]::-moz-range-track {
  height: 0.35em;
  background-color: theme("colors.bold-gray");
  width: 100%;
}

input[type="range"]::-moz-range-progress {
  height: 0.4em;
}

input[type="range"]::-ms-track {
  height: 0.4em;
  width: 100%;
}

@media screen and (-ms-high-contrast: active) {
  input[type="range"]::-ms-track {
    border: 0;
    /* margin: 1em 0; */
  }
}

input[type="range"]::-ms-fill-lower {
  background: theme("colors.bold-gray");
}

input[type="range"]::-ms-fill-upper {
  background: theme("colors.bold-gray");
  border: 1px solid theme("colors.bold-gray");
  border-radius: 4px;
}

/**
 * Focus Styles
 */
input[type="range"]:focus {
  outline: 0;
  background-color: transparent;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: theme("colors.bold-gray");
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]:focus::-moz-range-track {
  background: theme("colors.bold-gray");
}

.styled ::-ms-ticks-after,
.styled ::-ms-ticks-before {
  display: block;
}

input[type="range"]:focus::-ms-fill-lower {
  background: theme("colors.bold-gray");
}

input[type="range"]:focus::-ms-fill-upper {
  background: theme("colors.bold-gray");
}

input[type="range"]:focus::-webkit-slider-thumb {
  background: theme("colors.bold-gray");
}

input[type="range"]:focus::-moz-range-thumb {
  background: theme("colors.bold-gray");
}

input[type="range"]:focus::-ms-thumb {
  background: theme("colors.bold-gray");
}

/**
 * Thumbs
 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: theme("colors.bold-gray");
  border-radius: 50%;
  height: 17px;
  width: 17px;
  cursor: grab;
  margin: -8.5px 0 0;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 3;
}

input[type="range"][disabled]::-webkit-slider-thumb {
  cursor: not-allowed;
}

input[type="range"]::-moz-range-thumb {
  background: theme("colors.bold-gray");
  cursor: grab;
  position: relative;
  width: 1.125em;
  z-index: 3;
}

input[type="range"][disabled]::-moz-range-thumb {
  cursor: not-allowed;
}

/**
 * Edge respects the webkit styling here (odd), but
 * IE11 doesn't (correct). To get both browsers
 * to be correctly styled, this is still necessary
 * and the negative margin of the webkit styling
 * needs to be removed.
 */
input[type="range"]::-ms-thumb {
  background: theme("colors.bold-gray");
  cursor: grab; /* ms doesn't currently support */
  margin: 0;
  position: relative;
  width: 1.125em;
  z-index: 3;
}

input[type="range"][disabled]::-ms-thumb {
  cursor: not-allowed;
}

/**
 * When a user specifically 'grabs' the
 * thumb/knob/whatever, change the cursor
 * to the active state.
 */
input[type="range"]:not([disabled])::-webkit-slider-thumb:active {
  cursor: grabbing;
}
input[type="range"]:not([disabled])::-moz-range-thumb:active {
  cursor: grabbing;
}
input[type="range"]:not([disabled])::-ms-thumb:active {
  cursor: grabbing; /* ms doesn't currently support */
}

.select {
  display: block;
  color: theme("colors.bold-gray");
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 1px solid theme("colors.lime");
  box-shadow: theme("boxShadow.lg");
  border-radius: theme("borderRadius.lg");
  appearance: none;
  background-color: theme("colors.black-light");
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%232ED573%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(
      to bottom,
      theme("colors.black-light") 0%,
      theme("colors.black-light") 100%
    );
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select::-ms-expand {
  display: none;
}
.select:focus {
  color: theme("colors.lime");
  outline: none;
}
.select option {
  font-weight: normal;
}
